*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --mainColor: #2d7df6;
    --secondaryColor: #0d43a6;
    --thirdColor:#88b2da71;
    --pagePadding: 0 2vh;
}

p{
    user-select: none;
}
.exploreNav{
    background-color: var(--thirdColor);
    height: 65px;
    width: 100%;
}
.searchField{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}
.searchInp{
    padding-top: 7px !important;
    padding: 0 7px;
    width: 100%;
    height: 100%;
}
.searchField input{
    width: 100%;
    height: 100%;
    padding: 0 25px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 80px;
}
.searchField .icons{
    position: absolute;
    right: 24.5px;
    top: 23px;
    /* margin-bottom: 2.5px; */
    font-size: 18px;
    color: gray;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
.close{
    font-size: 25px;
}
.navDown{
    /* background-color: #0d43a6; */
    position: fixed;
    bottom: 0px;
    border-top: 1px solid rgb(196, 191, 191);
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    padding: 8px 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    margin-top: 700px;
    min-height: 55px;
}
.navDown img{
    height: 35px;
    border-radius: 17.5px;
}
.navDown i{
    font-size: 35px;
}
.navBottomItems{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.exploreMain{
    position: relative;
    padding: 10px 0;
    padding-bottom: 50px;
    background-color: var(--thirdColor);
    display: flex;
    flex-direction: column;
}
.fullrowSection{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.fullrowSection > div{
    width: 100% !important;
    height: 100% !important;
}
.postsSecRow{
    display: flex;
}
.postsSecRow > div{
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
}
.postsSecRow > div img{
    width: 100%;
    height: 100%;
}
.postsSecRow > div:hover{
    filter: brightness(80%);
}
.userSearchBar{
    min-width: 100%;
    height: 88vh;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    overflow: auto;
    z-index: 1000;
    transition: all 0.2s;
    padding-bottom: 28px;
}
.searchedUserContainer{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 100%;
}
.searchedUser{
    padding: 10px 10px;
    cursor: pointer;
    display: flex;
    /* width: 100%; */
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #c4c4c4a1;
    padding-bottom: 5px;
    transition: all 0.2s;
    width: 100%;
    height: 65px;
}
.searchedUser:hover{
    background-color: whitesmoke;
}
.searchedUser:hover p{
    color: var(--mainColor);
}
.searchedUser img{
    height: 40px;
    border-radius: 25px;
}
.nonActive{
    opacity: 0 !important ;
    visibility: hidden !important;
}